:root {
  --col-light: #fff;
  --col-dark: #7d0202;
  --col-accent: #151582;
  --col-accent2: #0c880a;
}

body {
  margin: 0 auto;
}

.app-container {
  margin: auto;
  width: 800px;
  height: 80vh;
  border: 1px solid blue;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

.collection {
  display: grid;
  margin: 0 auto;
  width: 700px;
  height: 50vh;
  border: 1px solid red;
  border-radius: 10px;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  text-align: center;
}

.one-film {
  width: 100%;
  object-fit: cover;
  margin: 1rem 0;
  border: 1px solid black;
}